html {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.navPanel {
  background-color: rgb(249, 116, 116);  
  text-align: center;
  font-size: large;
  padding: 15px;
  border-bottom: 5px solid rgb(75, 62, 62);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.allPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.onePokemon {
  height: 190px;
  width: 200px;
  padding: 25px;
  text-align: center;
  border: 3px solid rgb(75, 62, 62);
  border-radius: 120px;
  margin: 10px;
}

.onePokemon a {
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
}

.onePokemon p {
  font-family: inherit;
  font-size: small;
  margin: 12px;
}

.reButtons {
  padding-top: 100px;
  padding-left: 20px;
}

.catchButton {
  height: 40px;
  width: 70px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(36, 215, 36);
  border-color: rgb(36, 215, 36);
  border-radius: 10px;
}

.catchButton:hover {
  background-color: rgb(42, 197, 42);
  border-color: rgb(42, 197, 42);
}

.runButton {
  height: 40px;
  width: 70px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(247, 12, 12);
  border-color: rgb(247, 12, 12);
  border-radius: 10px;
}

.runButton:hover {
  background-color: rgb(226, 14, 14);
  border-color: rgb(226, 14, 14);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  font-family: inherit;
  height: 50px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(249, 116, 116);
  border-color: rgb(249, 116, 116);
  border-radius: 10px;
}

.buttons button:hover {
  background-color: rgb(243, 104, 104);
  border-color: rgb(243, 104, 104);
}

.userContainer {
  position: absolute;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.inputContainer {
  position: relative;
  background-color: rgb(249, 116, 116);
  width: 50%;
  height: 55%;
  border: 5px solid rgb(75, 62, 62);
  border-radius: 50px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 50px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.login p {
  font-size: 20px;
  margin-bottom: 10px;
}

.signup p {
  font-size: 15px;
  margin-bottom: 10px;
}

.login input {
  border: 1px solid rgb(75, 62, 62);
  border-radius: 30px;
  padding: 10px;
  width: 70%;
  height: 20px;
  font-size: 15px;
}

.signup input {
  border: 1px solid rgb(75, 62, 62);
  border-radius: 30px;
  padding: 10px;
  width: 70%;
  height: 10px;
  font-size: 12px;
}

.btn {
  font-family: inherit;
  height: 50px;
  width: max-content;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(75, 62, 62);
  border-color: rgb(75, 62, 62);
  border-radius: 10px;
  margin-top: 30px;
}

.btn:hover {
  background-color: rgb(55, 45, 45);
  border-color: rgb(55, 45, 45);
}